#demo { width: 800px; margin: 0 auto; text-align: center; }

#controls { text-align: center; }

#demo #notes   { margin-bottom: 1em; }
#demo #diagram { width: 400px; min-height: 800px; padding-bottom: 100px; }
#demo #output  { width: 100%;  height: 200px;  }


