<!DOCTYPE html>
<html>
    <head>
      <title>Javascript Finite State Machine</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link href="fsm.css" media="screen, print" rel="stylesheet" type="text/css" />
    </head>

    <body>

          <div id="demo" class='green'>

            <h1> Finite State Machine </h1>

                <!-- <div id='diagram'></div> -->
                <img src="fsm.svg" />

          </div>


          <script src="dist/state-machine.js"></script>
          <script src="dist/state-machine-visualize.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.8.1/viz.js"></script>
          <script src="fsm.js"></script>

    </body>
</html>
